/* adding padding for mobile version and changing background color */
body{
  padding-left: 38px;
  padding-right: 38px;
  background-color: #F7F7FF;
  font-family: 'Montserrat', sans-serif;
}
/* changing the footer color */
footer{
    background-color: #fffd8c;
}
/* Adjusting height and width of the D logo */
.d{
    width: 114px;
    height: 81px;
}
/* adjusting paragraph font-size */
p{
    font-size: 24px;
    margin-top: 0;
}
/* adjustments on the Drive with us button */
#us{
    font-size: 24px;
    background-color: #57eeab;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 20px;
    width: 90%;
    padding: 10px;
}
/* text box adjustments and sizing */
.text-box{
    background-color: #F4F4F5 ;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
    line-height: 20px;
}
/* Adjusting layout of the form */
.box{
    box-shadow: 0 2px 5px 0 black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    max-width: 535px;
    height: 590px;
} 
/* calcualte button adjustments */
#calculate{
    background-color:#ff8480;
    color: white;
    border-radius: 5px;
    max-width: 302px;
    width: 302px;
}
.calculate{
    display: flex;
    flex-wrap: wrap;
}
/* changing enter info font-size */
.enter{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
#one{
    width: 25%;
}
.flex{
    display: flex;
}
/* changing width of hour text box */
#hours{
    width: 100%;
    box-sizing: border-box;
}
/* changing width of city text box */
#city{
    width: 100%;
    box-sizing: border-box;
}
.message{
    border-radius: 5px;
    line-height: 20px;
}
/* adjusting all h1 text to 60px */
h1{ 
    font-size: 60px;
    margin-bottom: 0;
}
/* changing font size for apple now */
h2{
    font-size: 40px;
}
/* adjusting icon placement */
.icons{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
/* ///////////////////// */
/* iPad */ 
/* //////////////////// */
@media screen and (min-width:375px){
/* adding padding to either side */
body{
    /* padding-left: 82px;
    padding-right: 82px; */
    padding: 0 82px;
}
article p{
    font-size: 30px;
}
.message, .text-box{
    font-size: 18px;
}


}
/* //////////////////// */
/* desktop */
/* //////////////////// */
@media screen and (min-width:768px) {

.scooter{
    display: none;
}
main{
    height: 80%;
    max-width: 1640px;
    margin: 0 auto;
}
.calculate{
    width: auto;
}
html{
    height: 100%;
}
.element{
    max-width: 1640px;
    margin: 0 auto;
}
footer{
    height: 20%;
}
.upper{
    max-width:505px;
    display: center;
}
body{
    padding-left: 140px;
    padding-right: 140px; 
    height: 100%;
    padding: 0;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box{
    grid-column-start: 3;
}
article{
    background-image: url("../images/scooter.svg");
    background-repeat: no-repeat; 
    background-position: center;
}
.icons{
    justify-content: flex-end;
}


}
