/* adding padding for mobile version and changing background color */
body{
  padding-left: 38px;
  padding-right: 38px;
  background-color: #F7F7FF;
  font-family: 'Montserrat', sans-serif;
}
/* changing the footer color */
footer{
    background-color: #fffd8c;
}
/* Adjusting height and width of the D logo */
.d{
    width: 114px;
    height: 81px;
}
/* adjusting paragraph font-size */
p{
    font-size: 24px;
    margin-top: 0;
}
/* adjustments on the Drive with us button */
#us{
    font-size: 24px;
    background-color: #57eeab;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 20px;
}
/* text box adjustments and sizing */
.text-box{
    background-color: #F4F4F5 ;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
    line-height: 20px;
}
/* Adjusting layout of the form */
.box{
    box-shadow: 0 2px 5px 0 black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
} 
/* calcualte button adjustments */
#calculate{
    background-color:#ff8480;
    color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    width: 100%;
}
.calculate{
    display: flex;
    flex-wrap: wrap;
}
/* changing enter info font-size */
.enter{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* changing width of hour text box */
#hours{
    width: 24%;
}
/* changing width of city text box */
#city{
    width: 74%;
}
.message{
    border-radius: 5px;
    line-height: 20px;
}
/* adjusting all h1 text to 60px */
h1{ 
    font-size: 60px;
    margin-bottom: 0;
}
/* ///////////////////// */
/* iPad */ 
/* //////////////////// */
@media screen and (min-width:375px){
/* adding padding to either side */
body{
    /* padding-left: 82px;
    padding-right: 82px; */
    padding: 0 82px;
}


}
/* //////////////////// */
/* desktop */
/* //////////////////// */
@media screen and (min-width:768px) {

.scooter{
    display: none;
}

body{
    padding-left: 140px;
    padding-right: 140px; 
    background-image: url("../images/scooter.svg");
    background-repeat: no-repeat; 
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



}
