and here is my css
/* box sizing
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  } */

body{
  padding-left: 38px;
  padding-right: 38px;

}
footer{
    background-color: #fffd8c;
}
.d{
    width: 114px;
    height: 81px;
}
p{
    font-size: 24px;
}
#us{
    font-size: 24px;
    background-color: #57eeab;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 10px;
}
.text-box{
    background-color: #F4F4F5 ;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
    line-height: 20px;
}

.box{
    box-shadow: 0 2px 5px 0 black;
    box-shadow: width 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
} 
.calculate{
    padding-bottom: 20px;
}
#calculate{
    background-color:#ff8480;
    color: white;
    border-radius: 5px;
}
.message{
    border-radius: 5px;
    line-height: 20px;
}
h1{ 
    font-size: 60px;
}

/* iPad */
@media screen and (min-width:375px){

body{
    padding-left: 140px;
    padding-right: 140px;
}

}
/* desktop */
@media screen and (min-width:768px) {


body{
    padding-left: 82px;
    padding-right: 82px;  
}

}
