/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* adding padding for mobile version and changing background color */
body{
  /* padding-left: 38px;
  padding-right: 38px; */
  background-color: #F7F7FF;
  font-family: 'Montserrat', sans-serif;
}
/* changing the footer color */
footer{
    background-color: #fffd8c;
}
/* adjusting city width */
#two{
    width: 75%;
}
/* Adjusting height and width of the D logo */
.d{
    width: 114px;
    height: 81px;
}
/* adjusting paragraph font-size */
p{
    font-size: 24px;
    margin-top: 0;
}
/* adjustments on the Drive with us button */
#us{
    font-size: 24px;
    background-color: #57eeab;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 20px;
    width: 90%;
    padding: 10px;
}
h3{
    font-weight: bold;
}
/* text box adjustments and sizing */
.text-box{
    background-color: #F4F4F5 ;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
    line-height: 20px;
    padding: 10px;
}
/* Adjusting layout of the form */
.box{
    box-shadow: 0 2px 5px 0 black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    max-width: 535px;
    padding-bottom: 15px;
    margin-bottom: 50px;;
} 
/* calcualte button adjustments */
#calculate{
    background-color:#ff8480;
    color: white;
    border-radius: 5px;
    max-width: 302px;
    width: 302px;
    padding: 5px;
}
/* hours, city, and calculate button */
.calculate{
    display: flex;
    flex-wrap: wrap;
}
/* changing enter info font-size */
.enter{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/* changing hours width */
#one{
    width: 25%;
}
/* specifying font size for already applied */
.applied{
    font-size: 16px;
}
.flex{
    display: flex;
}
/* changing link color */
#red{
    color: red;
}
/* changing width of hour text box */
#hours{
    width: 100%;
    box-sizing: border-box;
}
/* changing width of city text box */
#city{
    width: 100%;
    box-sizing: border-box;
}
/* howrs and city adjustent */
.message{
    border-radius: 5px;
    line-height: 20px;
    padding: 5px;
}
/* adjusting all h1 text to 60px */
h1{ 
    font-size: 60px;
    margin-bottom: 0;
}
/* changing font size for apple now */
h2{
    font-size: 40px;
}
/* adjusting icon placement */
.icons{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
main{
    padding: 0 38px;
}
.element{
    padding: 0 38px;
}

/* ///////////////////// */
/* iPad */ 
/* //////////////////// */
@media screen and (min-width:375px){
/* adding padding to either side */
/* body{
    padding: 0 82px;
} */
/* start today text */
.start{
    font-size: 30px;
}
.message, .text-box{
    font-size: 18px;
}
/* adjusting icon placement */
.icons{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
p .applied{
    font-size: 16px;
}
/* adjusting width on calculate button */
#calculate{
    width: 150px;
}
/* centering  green button*/
#us{
    margin-left: 20px;
}
.flex{
    max-width: 300px;
}


}
/* //////////////////// */
/* desktop */
/* //////////////////// */
@media screen and (min-width:768px)
 {
/* deleting scooter image */
.scooter{
    display: none;
}
/* setting a max-width to the main tag */
main{
    height: 80%;
    max-width: 1640px;
    margin: 0 auto;
}
#two{
    width: 75%;
}
/* giving the calculate button auto width */
.calculate{
    width: auto;
}
/* setting full height to HTML */
html{
    height: 100%;
}
/* setting a max width so it doesn't continue with the footer yellow */
.element{
    max-width: 1640px;
    margin: 0 auto;
}
/* adjusting footer (yellow) height */
footer{
    height: 20%;
}
/* adjusting the most upper text(boss part) */
.upper{
    max-width:505px;
    display: center;
}
/* adjusting body width */
body{
    padding-left: 140px;
    padding-right: 140px; 
    height: 100%;
    padding: 0;
}
/* making 3 columns for the desktop version, I am puting nothing in the middle column so that a space remains there */
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* assigning the box class to the 3rd column */
.box{
    grid-column-start: 3;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
/* adding the scooter image as a background and adjusting placement */
article{
    background-image: url("../images/scooter.svg");
    background-repeat: no-repeat; 
    background-position: center;
}
/* adjusting icon placement */
.icons{
    justify-content: flex-end;
}
/* adjusting (Boss text) size */
h1{
    font-size: 80px;
}
/* see how much you can earn font */
h3{
    font-size: 18;
    font-weight: bold;
}
/* city width */
.two{
    width: 75%;
}


}
